body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

h1{
    color: darkblue;
    text-align: center;
    padding: 20px;
}

p{
    font-size: 18px;
    color: orange;
    text-align: center;
}